@font-face {
	font-family: Raleway;
	font-weight: 300;
	src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
	font-family: Raleway;
	font-weight: 700;
	src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(http://fonts.gstatic.com/s/nothingyoucoulddo/v6/jpk1K3jbJoyoK0XKaSyQAW3tIVbDRfcAbwPiWONb82U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}
body {
	line-height: 1
}
ol,
ul {
	list-style: none
}
blockquote,
q {
	quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	font-family: Raleway;
	font-weight: 300;
	text-align: center;
	padding: 100px 0;
	background: #fff;
	color: #fff
}
.header {
	margin-top: 50px;
}
h1 {
	font-size: 5em;
	position: relative;
	left: 60px;
}
h2 {
	font-size: 1.6em;
	color: rgb(105, 105, 105);
	opacity: 0;
}
small {
	font-size: 80%
}
h1 > small {
	opacity: 0;
	color: rgb(255, 105, 0);
}
.hero {
	height: 350px;
	max-height: 50vh;
	margin-top: 50px;
	padding: 10% 20px;
	font-family: 'Nothing You Could Do';
	font-size: 2em;
	color: #fff;
	opacity: 0;
}
.hero-bkgnd {
	height: 350px;
	max-height: 50vh;
	width: 100%;
	margin: 50px 15px;
	position: absolute;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	z-index: -1;
	opacity: 0;
}
p {
	margin: 20px 0;
	line-height: 1.5
}
.synopsis {
}
.synopsis h3 {
	text-align: center;
	text-transform: lowercase;
	font-weight: 700;
	font-size: 1.4em;
	color: rgb(255, 105, 0);
	opacity: 0;
}